.panel.about .panel-title {
    margin-bottom: 0.75rem;
}

.panel.about p {
    font-size: 0.95rem;
}
.panel.about p:not(:last-child) {
    margin-bottom: 1rem;
}

.panel.about a {
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
}
.panel.about a:hover {
    transform: translateY(-0.5px);
    text-decoration: underline;
    opacity: 1;
}
.panel.about a:active {
    transform: translateY(0);
}
