.panel.current-cases .case-count-container {
    width: 100%;
}

.panel.current-cases .case-count-container .case-count {
    text-align: center;
    line-height: 1.15;
    color: var(--theme-color);
    text-shadow: 0 0 3px var(--theme-color);
}
.panel.current-cases .case-count-container .case-count span {
    font-family: 'Inconsolata', 'Andale Mono', 'Courier New', Courier, monospace;
}

.panel.current-cases .last-updated {
    float: right;
    font-size: 0.85rem;
    line-height: 1.35;
    opacity: 0.6;
    margin-top: 0.5rem;
}

.panel.stats p {
    line-height: 1.25;
    font-size: 0.9rem;
}
.panel.stats p:not(:last-child) {
    margin-bottom: 0.625rem;
}
.panel.stats p > * {
    display: inline-block;
}
.panel.stats p > strong {
    opacity: 0.7;
    font-weight: 500;
}
.panel.stats p > span {
    margin-left: 0.5rem;
}
