* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none;
    color: inherit;
    fill: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--white-color);
    fill: var(--white-color);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::selection {
    background-color: var(--medium-color);
}

.built-by {
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 0.75rem;
    display: none;
}
.built-by a {
    font-weight: 600;
    text-decoration: none;
}
.built-by a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 1050px) {
    .built-by {
        display: block;
    }
}
