.col {
    width: var(--col-width);
    display: block;
    float: left;
}
.col:not(:last-child) {
    margin-right: 1rem;
}

/* width of each column */
.col.left {
    width: var(--col-left-width);
}
.col.right {
    width: var(--col-right-width);
}
.col.center {
    width: calc(100% - (var(--col-left-width) + var(--col-right-width)) - (1rem * 2));
}
