body > .container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--darker-color);
    box-sizing: border-box;
    padding: 1.25rem;
    display: block;
}

@media only screen and (max-width: 600px) {
    body > .container {
        padding: 1rem;
    }
}
