.row.top {
    margin-bottom: 1.75rem;
}
.masthead {
    min-height: 4rem;
    padding-top: 0;
    margin-bottom: 0 !important;
}
.masthead > * {
    display: block;
    float: left;
    margin-top: 1rem;
}

.masthead .title {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.85rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.masthead .mobile-title {
    display: none;
    width: 100%;
    overflow: hidden;
}

.masthead > svg {
    height: 2rem;
    transform: scale(1.2);
    width: auto;
    margin-left: 0.25rem;
    margin-right: 1rem;
    fill: var(--theme-color);
}

/* mobile */
.masthead .mobile-title {
    text-align: center;
}
.masthead .mobile-title .text {
    vertical-align: top;
    display: inline-block;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    white-space: normal !important;
}
.masthead .mobile-nav {
    display: none;
    height: 3.75rem;
    width: 100%;
    overflow: hidden;
    margin-top: 0.5rem;
}
.masthead .mobile-nav button {
    border: none;
    background-color: transparent;
    width: 33.33%;
    display: block;
    float: left;
    height: 3.75rem;
    box-sizing: border-box;
    padding: 0.375rem 0;
    text-align: center;
    opacity: 0.7;
    border-radius: 3px;
    cursor: pointer;
}
.masthead .mobile-nav button:hover {
    opacity: 1;
}
.container.calculator-active .masthead .mobile-nav button.calculator,
.container.news-active .masthead .mobile-nav button.news,
.container.cases-about-active .masthead .mobile-nav button.cases-about {
    opacity: 1;
    background-color: var(--subdark-color);
}
.masthead .mobile-nav button svg {
    height: 1.75rem;
    width: auto;
    margin-bottom: 0.25rem;
}
.masthead .mobile-nav button p.label {
    height: 1rem;
    line-height: 1rem;
    font-size: 0.7rem;
}

@media only screen and (max-width: 1050px) {
    .row.top {
        position: sticky;
        top: -4px;
        z-index: 9999;
    }

    .masthead {
        border-bottom: 1px solid var(--medium-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .masthead .mobile-nav {
        display: block;
    }

    .masthead > svg {
        display: none;
    }
    .masthead .title {
        display: none;
    }

    .masthead .mobile-title {
        display: block;
    }
}
