.masthead {
    min-height: 4rem;
    margin-bottom: 1.75rem;
    padding-top: 0;
}
.masthead > * {
    display: block;
    float: left;
    margin-top: 1rem;
}

.masthead .title {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.85rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.masthead svg {
    height: 2rem;
    transform: scale(1.2);
    width: auto;
    margin-left: 0.25rem;
    margin-right: 1rem;
    fill: var(--theme-color);
}
